@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

.fancy {
  font-family: "Tangerine", serif;
  font-size: 50px;
  padding-left: 35px;
}

.notfancy {
  font-family: "Sofia", serif;
  font-size: 50px;
  padding-left: 400px;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name{
  font-size: 150 px;
}

.bigblue {
  color: DodgerBlue;
}

.dropdown {
  position: relative;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.responsive {

 width: 100%;
 
}

.divider {								/* minor cosmetics */
  display: table; 
  font-size: 24px; 
  text-align: center; 
  width: 75%; 						/* divider width */
  margin: 40px auto;					/* spacing above/below */
  font-family: 'Roboto Slab', serif;
		font-size: 1.5em;
		letter-spacing: 0.08em;
		font-weight: 300;
		color: #991b1b;
		text-shadow: 0 1px 1px #FFFFFF;
		text-transform: uppercase;
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;							/* adjust vertical align */
  -moz-background-size: 100% 2px; 	/* line width */
  background-size: 100% 2px; 			/* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
  color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}



@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
.heading-1 {
		font-family: 'Roboto Slab', serif;
		font-size: 1.5em;
		letter-spacing: 0.08em;
		font-weight: 300;
		color: #991b1b;
		text-shadow: 0 1px 1px #FFFFFF;
		text-transform: uppercase;
}
.heading-0 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: #000;
  text-shadow: 0 1px 1px #FFFFFF;
  
}
.heading-2 {
		font-family: 'Roboto Slab', serif;
		font-size: 1.5em;
		letter-spacing: 0.08em;
		font-weight: 300;
		color: #1589FF;
		text-shadow: 0 1px 1px #FFFFFF;
		text-transform: uppercase;
}

.heading-3 {
		font-family: 'Roboto Slab', serif;
		font-size: 1.5em;
		letter-spacing: 0.08em;
		font-weight: 300;
		color: #FF00FF;
		text-shadow: 0 1px 1px #FFFFFF;
		text-transform: uppercase;
}

.divider-1 {
		border-bottom: 1px solid #FFF;
		background-color: #DADADA;
		height: 1px;
		margin: 0.5em 0px 1.5em;
}

.divider-1 span {
		display: block;
		width: 190px;
		height: 1px;
		background-color: #991b1b;
}

.divider-2 {
		border-bottom: 1px solid #FFF;
		background-color: #DADADA;
		height: 1px;
		margin: 0.5em 0px 1.5em;
}

.divider-2 span {
		display: block;
		width: 50px;
		height: 1px;
		background-color: #1589FF;
}

.divider-3 {
		border-bottom: 1px solid #FFF;
		background-color: #DADADA;
		height: 1px;
		margin: 0.5em 0px 1.5em;
}

.divider-3 span {
		display: block;
		width: 50px;
		height: 1px;
		background-color: #FF00FF;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
.wordCarousel {
  font-size: 20px;
  font-weight: 100;
  color: #000;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel div li {
  font-family: Serif;
  color: #000000;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}
.flip1 {
  -webkit-animation: flip1 6s cubic-bezier(0.23, 1, 0.32, 0.60) infinite;
          animation: flip1 6s cubic-bezier(0.23, 1, 0.32, 0.60) infinite;
}
.flip2 {
  -webkit-animation: flip2 10s cubic-bezier(0.23, 1, 0.32, 1.0) infinite;
          animation: flip2 10s cubic-bezier(0.23, 1, 0.32, 1.0) infinite;
}

.flip3 {
  -webkit-animation: flip3 9s cubic-bezier(0.23, 1, 0.32, 1.0) infinite;
          animation: flip3 9s cubic-bezier(0.23, 1, 0.32, 1.0) infinite;
}

.flip4 {
  -webkit-animation: flip4 9s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 9s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip5 {
  -webkit-animation: flip5 6s cubic-bezier(0.23, 1, 0.32, 0.60) infinite;
          animation: flip5 6s cubic-bezier(0.23, 1, 0.32, 0.60) infinite;
}

@-webkit-keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -180px;
  }
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -180px;
  }
}
@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -360px;
  }
}
@-webkit-keyframes flip5 {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  20% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  40% {
    margin-top: -270px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  65% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -450px;
  }
}
@keyframes flip5 {
  0% {
    margin-top: -450px;
  }
  5% {
    margin-top: -360px;
  }
  20% {
    margin-top: -360px;
  }
  25% {
    margin-top: -270px;
  }
  40% {
    margin-top: -270px;
  }
  45% {
    margin-top: -180px;
  }
  60% {
    margin-top: -180px;
  }
  65% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -450px;
  }
}

html {

  margin: 0;
  padding: 0;
 
}

